/* .recipeCard:hover{
  opacity: 0.5;
} */

.recipeImage:hover{
  opacity: 0.5;
}

.recipeCard {
  margin: 20px 10px;
  border: solid 1px grey;
}

.card-content h4 {
  font-size: 26px;
  height: 40px;
  text-align: center;
}

.recipe-title {
  color: #132C14;
  /* color: #265728; */
  font-family: 'Oleo Script Swash Caps', cursive;
  /* font-family: 'Montserrat', sans-serif; */
}