.recipeCard:hover{
  opacity: 0.5;
}

.recipeCard {
  margin: 20px 10px;
  border: solid 1px grey;
}

.card-content h4 {
  font-size: 24px;
  height: 40px;
  text-align: center;
}

.recipe-title {
  color: #132C14;
}