/* body {
  background: rgb(223, 223, 223);
} */

form {
  padding: 10px;
  
}

.loginContainer {
  /* background: rgb(223, 223, 223); */
  /* margin: 100px; */
}

.col {
  height: 100%;
}

.signInCard {
  border: solid tomato 2px;
  margin: 50px 0px;
  height: 100%;
  background: rgb(240, 240, 240);
}

