.mainCard {
  background: #F8F9FA;
}

.start-button {
  text-align: center;
}

.btn-large {
  background: #ef5a5c;
}

.mainCard h1 {
  text-align: center;
  /* color: #003469; */
  color: #132C14;
}

.mainCard p {
  color: #09160A;
}